.breadcrumb {
    @extend %cf;
    display: block;
    width: 100%;
    margin: 1.5rem 0 1rem;

    .crumb {
        display: block;
        float: left;
        color: $color-purple;
    }

    a.crumb {
        color: $color-pink;

        &:after {
            content: "/";
            display: inline-block;
            margin: 0 .4rem;
            color: lighten($color-purple, 60%);
        }

        &:hover {
            color: $color-purple;
        }
    }
}