//  Main button component
//
//  Modifiers:
//  .stroke       — converts button to a stroke style
//  .flat         — makes it look flat
//
//  .small        — makes the button size slightly smaller
//  .medium       — makes the button size slightly larger
//
//  .positive     — green button
//  .negative     — red button
//
//  .primary      — primary button, stands out the most
//  .secondary    — secondary button, usually used for `cancel`
//
//  .new-app      — button used to create a new application
//  .group        — makes buttons behave like they're in a group
//  .group.last   — applys to the last button in a group
//
//  .xhr-progress — hides button text and replases with a spinner
//
.button, button {
    display: inline-block;
    padding: .444rem .666rem;
    @include background-gradient($color-grey, $color-grey-dark);
    color: $primary-text-color;
    line-height: 1.5rem;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid darken($color-silver, 30%);
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);

    &[disabled] {
        opacity: .8;
        box-shadow: none;
        cursor: default;
        &:hover { border: 1px solid darken($color-silver, 30%); }
    }

    &.active {
        border-color: #333;
        box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    }

    &.flat {
        background: $color-purple;
        color: white;
        border-radius: 5px;
        border: none;
        box-shadow: none;
    }

    &:hover, &:focus {
        text-decoration: none;
        border-color: #333;
        outline: none;
    }

    &.stroke { 
        background: none; 
        color: $color-purple; 
        border: 1px solid $color-purple; 
        box-shadow: none;
    }

    &.small { padding: .25em 1rem; }

    &.medium { font-size: 1rem; padding: .666em 1rem; }

    &.large { font-size: 1.25rem; padding: 1em 1em; }

    &.positive { 
        @include background-gradient($color-green, darken($color-green, 13%));
        color: white;
        border-color: darken($color-green, 15%);
        &:hover { border-color: darken($color-green, 30%); }
    }

    &.negative {
        @include background-gradient($color-red, darken($color-red, 13%));
        color: white;
        border-color: darken($color-red, 15%);
        &:hover { border-color: darken($color-red, 30%); }
    }

    &.primary {
        background: $color-pink;
        color: white;
        &:hover { background: darken( $color-pink, 10% ); }
    }
    &.secondary {
        background: #aaa;
        &:hover { background: darken( #aaa, 10% ); }
    }

    &.new-app { background: $color-pink; }

    &.group { margin-right: 1rem; }
    &.group.last { margin-right: 0; }

    &.left-flush {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    &.submit {
        @include background-gradient($color-green, darken($color-green, 13%));
        color: white;
        border-color: darken($color-green, 15%);
    }

    &.inactive {
        background: $color-grey;
        color: #999;
        box-shadow: none;
        border-color: #999;
        cursor: default;

        &:hover { 
            background: $color-grey;
            color: #999; 
            border-color: #999;
        }
    }

    // hides button text and replases with a spinner
    &.xhr-progress {
        overflow: hidden;
        background-image: url(../img/preloader.gif);
        background-repeat: no-repeat;
        background-position: center;
        text-indent: -100%;
    }

    &.disabled {
        color: #aaa;
        border-color: #aaa;
    }

    &[disabled="disabled"] {
        opacity: .7;
    }
}

a.button:hover { color: $color-purple; }


//  Button to input component
//  Morphs from a single button to a button and a text input
//
//  Angular directive: inputMorph
.button-to-input {
    display: block;
    float: right;
    height: 45px;
    transition: all 500ms;

    .button-state { display: inline-block; }
    .form-state { display: none; }

    &.input-mode {
        .button-state { display: none; }
        .form-state { 
            display: block; 
            input { width: 370px; height: 30px; }
            .button { 
                float: right;
                height: 30px; 
                line-height: 25px;
            }
        }
    }
}