//  Main button component
//
//  Modifiers:
//  .stroke       — converts button to a stroke style
//
//  .small        — makes the button size slightly smaller
//  .medium       — makes the button size slightly larger
//
//  .positive     — change button style to communicate a positive action
//  .negative     — change button style to communicate a negative action
//
//  .primary      — primary button, stands out the most
//  .secondary    — secondary button, usually used for `cancel`
//
//  .new-app      — button used to create a new application
//  .group        — makes buttons behave like they're in a group
//  .group.last   — applys to the last button in a group
//
//  .xhr-progress — hides button text and replases with a spinner
//
.button, button {
    display: inline-block;
    padding: .444rem .666rem;
    background-color: #eb80b5;
    background: -moz-linear-gradient(top, #eb80b5, #ef308f);
    background: -webkit-gradient(linear, left top, left bottom, from(#eb80b5), to(#ef308f));
    color: white;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #d371a2;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
    box-shadow: 0 1px 5px rgba(0,0,0,0.3);

    &:hover, &:focus {
        text-decoration: none;
        border: 1px solid #333;
        outline: none;
    }

    &.stroke { background: none; color: $color-purple; border: 1px solid $color-purple; }

    &.small { padding: .25em 1rem; }
    &.medium { font-size: 1rem; padding: .666em 1rem; }
    &.large { font-size: 1.25rem; padding: 1em 1em; }

    &.positive { background: #10B574; }
    &.negative { background: #D43825; }

    &.primary {
        background: $color-pink; 
        &:hover { background: darken( $color-pink, 10% ); }
    }
    &.secondary {
        background: #aaa;
        &:hover { background: darken( #aaa, 10% ); }
    }

    &.new-app { background: $color-pink; }
    &.group { margin-right: 1rem; }
    &.group.last { margin-right: 0; }

    &.left-flush {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    // hides button text and replases with a spinner
    &.xhr-progress {
        overflow: hidden;
        background-image: url(../img/preloader.gif);
        background-repeat: no-repeat;
        background-position: center;
        text-indent: -100%;
    }

    &.disabled {
        color: #aaa;
        border-color: #aaa;
    }
}

