//  Wrappers for differnent form components
//
//  modifiers:
//  .last   — remove margin from the bottom of element
//
//  nested elements:
//  label   — block label sits in it's own row
.form-row {
    @extend %cf;
    position: relative;
    display: block;
    margin-bottom: 1.5rem;

    &.last { margin-bottom: 0; }

    label {
        display: block;
        margin: 0 0 .4rem 0;
        color: $color-purple;
    }
}

//  Labels
//
.inline-label {
    @extend %cf;
    display: inline-block;
}

.form-label {
    @extend %cf;
    position: relative;
    display: block;

    > input[type="radio"],
    > .radio-input,
    > input[type="checkbox"],
    > .checkbox-input, { float: left; margin-right: 1rem; }
}

textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    max-width: 38.44rem;
    min-height: 5.0625rem;
    padding: 1rem;
    border: 1px solid $color-purple;
    border-radius: 3px;
}


//  Text input
//
//  
input[type="text"],
input[type="url"],
input[type="email"],
.text-input {
    box-sizing: border-box;
    padding: .296rem;
    border: 1px solid $color-purple;
    border-radius: .197rem;
    font-size: 1.1rem;

    &.flush-right {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &.flush-left {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    &.large {
        padding: .25rem .5rem;
        font-size: 1.125rem;
    }

    // Angular state classes
    &.ng-invalid {
        border-color: $color-pink;
    }
}

//  Radio buttons
input[type="radio"],
.radio-input {
    float: left;
}

// Form helpers are normally displayed next to a form field 
// to provide contextual help
.form-field-helper {
    display: block;
    padding: 1rem 0 0;
    color: $color-pink;
}


//  Filter box component
//  
//  a container with a nested filter input can be used
//  as a universal way of filtering stuff anywhere in
//  the application
.query-filter {
    @extend %cf;
    box-sizing: border-box;
    margin-bottom: 1.618rem;
    width: 100%;
    font-size: 1.618rem;

    > input {
        box-sizing: border-box;
        display: block;
        padding: .25rem .5rem;
        width: 100%;
    }
}
