//  Forms
//


//  layout helpers
//  ———————————————

//  wrapper for form components
//
//  modifiers:
//  .last   — remove margin from the bottom of element
//
//  elements:
//  label   — block label sits in it's own row
.form-row {
    display: block;
    margin-bottom: 1.5rem;

    &.last { margin-bottom: 0; }

    label {
        display: block;
        margin: 0 0 .4rem 0;
        color: $color-purple;
    }
}


//  form components
//  ———————————————

// 
textarea {
    display: block;
    width: 100%;
    max-width: 38.44rem;
    height: 140px;
    padding: 1rem;
    border: 1px solid $color-pink;
    border-radius: 3px;
}

input[type="text"] {
    padding: .296rem;
    border: 1px solid $color-purple;
    border-radius: .197rem;

    &.flush-right {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &.flush-left {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}