

//  Wrappers for differnent form components
//
//  modifiers:
//  .last   — remove margin from the bottom of element
//
//  elements:
//  label   — block label sits in it's own row
.form-row {
    @extend %cf;
    display: block;
    margin-bottom: 1.5rem;

    &.last { margin-bottom: 0; }

    label {
        display: block;
        margin: 0 0 .4rem 0;
        color: $color-purple;
    }
}

//  Labels
.inline-label {
    @extend %cf;
    display: inline-block;
}

.form-label {
    @extend %cf;
    display: block;

    > input[type="radio"],
    > .radio-input,
    > input[type="checkbox"],
    > .checkbox-input, { float: left; margin-right: 1rem; }
}

// Textarea
//
textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    max-width: 38.44rem;
    min-height: 5.0625rem;
    padding: 1rem;
    border: 1px solid $color-purple;
    border-radius: 3px;
}


//  Text input
//
//  
input[type="text"],
input[type="url"],
.text-input {
    padding: .296rem;
    border: 1px solid $color-purple;
    border-radius: .197rem;

    &.flush-right {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &.flush-left {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

//  Radio buttons
input[type="radio"],
.radio-input {
    float: left;
}