//  Container & structure elements
.application-container {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 0 7%;
}

.app-surface {
    margin-top: 3.375rem;
    width: 100%;
}

.row {
    @extend %cf;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.app-header {
    display: block;
    width: 100%;
    max-width: 41.625rem;
    margin-bottom: 3.375rem;
}

.app-content {
    width: 100%;
}

.app-modal-surface {
  padding: 2rem;
}



//  Panels
//
//  panels are used to lay out blocks of content either
//  horizontally or vertically
//
//  .panel-full      — Full width block
//  .panel-half      — 1/2 width block, floated left
//  .panel-third     — 1/3 width block, floated left
//  .panel-quarter   — 1/4 width block, floated left
//
//  .right           —
//  .padded          —
//
.panel-full { width: 100%; }
.panel-half { width: 50%; float: left; }
.panel-third { width: 33.333%; float: left; }
.panel-quarter { width: 25%; float: left; }
.panel-full, .panel-half, .panel-third, .panel-quarter { 
    @extend %cf; 
    box-sizing: border-box;
    display: block; 
    margin-bottom: 3.375rem;

    &.right { float: right; }

    &.stroke-right {
        border-right: 1px solid #ccc;
    }

    &.padded {
        padding: 2.25rem;
    }
}

// Panel header
.panel-header {
    @extend %cf;
    margin-bottom: 1.5rem;
}


//  Headings & title blocks
//
//  remove default margins on headings, because it's better 
//  to explicitly define them later
h1, h2, h3, h4 { margin: 0; }