.loading-container  {
    width: 100%;
}

.page-loader {
    display: block;
    width: 100%;
    padding: .5rem 1rem;
    background: $color-pink;
    color: white;
    text-align: center;
    animation: load-in 200ms $bezier-easeInOut both;
}