// matrix is a simple table
.matrix {
    @extend %cf;
    border: 1px solid $color-purple;
    border-radius: 5px;

    & + & { margin-top: 2rem; }
}

.matrix-body {
    display: block;
    box-sizing: border-box;
    width: 100%;
}

.matrix-title {
    @extend %cf;
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    background: $color-purple;

    h1 { color: white; font-size: 1.5rem; }
}

.matrix-row {
    @extend %cf;
    box-sizing: border-box;
    width: 100%;
    padding: 0 1rem;
    line-height: 2rem;
    //border-bottom: 1px solid $color-purple;

    &:nth-child(even) {
        background: $color-purple-light;
    }
}

.matrix-label {
    @extend %cf;
    display: block;
    float: left;
    width: 50%;
}

.matrix.invisible {
    border: none;

    .matrix-title { 
        padding: 0;
        margin-bottom: 1rem;
        background: none;
        color: $color-purple;
    }

    .matrix-row { padding: 0; background: none; }
}