//	The global navbar
//
$navbar-height: 5.06rem;

.navbar {
	@extend %cf;
	box-sizing: border-box;
	display: block;
	width: 100%;
	height: $navbar-height;
	background: $color-purple;
	color: white;
}

// atlas logo
.navbar-brand {
	@extend %cf;
	display: block;
	float: left;	
	margin-left: 2.25rem;
	
	> a { display: inline-block; height: $navbar-height; line-height: $navbar-height; }
	> a img { display: inline-block; margin: .8rem 0 0 0; }
}

// main navigation list
.navbar-links {
	@extend %cf;
	display: block;
	float: left;
	margin-left: 2.25rem;

	ul {
		@extend %bare-list;
		height: $navbar-height;
		float: left;
		
		> li {
			display: block;
			float: left;
			height: $navbar-height;
			line-height: $navbar-height;
		}

		> li a {
			display: inline-block;
			height: $navbar-height;
			padding: 0 .25rem;
			color: white;
			text-decoration: none;

			&:hover { color: white; }
		}

		.menu-button {
			padding: .5rem 1rem;
			border-radius: 3px;
		}

		> li a.active-menu-item { color: $color-pink; }
		> li a.active-menu-item .menu-button {
			background: white;
		}

	}

	.nav-manage { 
		margin-left: 2.25rem; 
	}
}

// the user avatar and prefs menu 
//
.navbar-user {
	position: relative;
	display: block;
	float: right;
	margin-right: 2.25rem;
	height: $navbar-height;
	cursor: pointer;

	.user-avatar { display: block; }
	
	.profile-picture {
		display: inline-block;
		width: 3.365rem;
		height: 3.375rem;
		margin: .8rem 0 0;
		border-radius: 50%;
		float: right;
	}

	.user-name {
		display: block;
		float: left;
		height: $navbar-height;
		margin-right: 1rem;
		line-height: $navbar-height;
	}
}

ul.user-dropdown-menu {
	@extend %bare-list;
	position: absolute;
	top: 90%;
	right: 0;
	box-sizing: border-box;
	width: 11.4rem;
	padding: 1rem;
	line-height: 2.25rem;
	background: white;
	box-shadow: 0 1px 10px rgba(0,0,0,0.2);
	border-radius: 4px;

	> li {
		display: inline-block;
		//line-height: 2.25rem;

		a { display: block; }
	}
}