//	The global navbar
//


/* Header */
.site-header {
    position: fixed;
    width: 100%;
    top: 0;
    background: #efefef;
    background: rgba(239,239,239,0.95);
    box-shadow: 0 1px #EF308F, 0 5px 10px rgba(0,0,0,0.2);
    z-index: 1000;
    text-transform: lowercase;
    font-family: Molengo, sans-serif;
}

.site-logo {
    float: left;
    position: relative;
    height: 4rem;
    line-height: 4rem;
}

.site-logo img {
    vertical-align: middle;
}

/* Navigation */
.navbar-links {
    float: left;
    margin-left: 1rem;
}

.nav > li {
    float: left;
}

.nav a {
    text-decoration: none;
}

.navbar-links .nav {
    margin-top: 1.75rem;
}

.navbar-links .nav > li {
    border-left: 1px solid #fff;
    border-right: 1px solid #ddd;
}

.navbar-links .nav li:first-child {
    border-left: 0;
}

.navbar-links .nav li:last-child {
    border-right: 0;
}

.navbar-links .nav a,
.navbar-links .nav span {
    display: block;
    padding: 0.25rem 0.5rem 0.5rem;
    font-size: 1.125rem;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
}

.navbar-links .nav a:hover,
.navbar-links .active-link > a,
.navbar-links .nav span:hover,
.navbar-links .active-link > a {
    color: #fc0088;
}

.navbar-tools {
    float: right;
}

.navbar-login {
    position: relative;
    top: 1.75rem;
    font-size: 1.125rem;
}

.navbar-api-explorer-btn {
    float: left;
    margin: 0.8rem 1rem 0 0;
    border: 1px solid #684090;
    background-color: #8e5dbf;
    background: linear-gradient(top, #8e5dbf, #3e126a);
}

/* User profile nav */
.navbar-user {
    position: relative;
    float: right;
}

.profile-picture {
    float: right;
    width: 2rem;
    height: 2rem;
    margin: 1.25rem 0 0 0.5rem;
    border-radius: 50%;
}

.user-avatar {
    display: block;
    padding-right: 6px;
}

.user-name {
    float: left;
    margin: 2rem 0 0;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
}

/* Generic */
.container:before,
.container:after,
.nav:before,
.nav:after {
    content: " ";
    display: table;
}

.container:after,
.nav:after {
    clear: both;
}

.navbar-links ul {
	list-style: none;
}

.navbar-links > ul {
    margin: 0;
    padding: 0;
}

.container {
    width: 960px;
    margin: 0 auto;
}

/* Dropdowns */
.has-dropdown-menu {
    position: relative;
    padding-right: 15px;
    cursor: pointer;
}

.has-dropdown-menu > a:after,
.has-dropdown-menu > span:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #fc0088;
}

.navbar-user.has-dropdown-menu > a:after,
.navbar-user.has-dropdown-menu > span:after {
    top: 85%;
}

.dropdown-menu {
    position: absolute;
    top: 90%;
    left: 50%;
    width: 12rem;
    margin-left: -6rem;
    padding: 1rem;
    border: 1px solid #fc0088;
    border-radius: 4px;
    background: #eee;
    box-shadow: 0 1px 10px rgba(0,0,0,0.2);
    line-height: 2.25rem;
    box-sizing: border-box;
    text-align: left;
    list-style: none;
    z-index: 1050;
}

.dropdown-menu a {
    text-decoration: none;
}

.dropdown-menu a:hover {
    color: #fc0088;
}

.navbar-links .dropdown-menu a {
    display: block;
    padding: 0;
    height: auto;
}

.dropdown-menu-large {
    width: 20rem;
    margin-left: -10rem;
}

.dropdown-menu:after {
    content: "";
    position: absolute;
    top: -7px;
    left: 50%;
    display: block;
    margin-left: -3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fc0088;
}

.user-dropdown-menu {
    top: 100%;
    margin-top: 6px;
}

.logged-in {
    cursor: pointer;
}

.nav .apps-dropdown span {
    padding: 0;
}
