body {
    font-size: $base-font-size;
}

// Links base styles
//
a {
    color: $color-purple;
    text-decoration: underline;

    &:hover {
        color: $color-pink;
    }
}

// Headings base styles
//
h1, h2, h3, h4, h5, h6 {font-weight: normal;}

h1 {
    font-size: $h1-size;
    color: $color-purple;
}

h2 {
    font-size: $h2-size;
    color: $color-pink;
}

h3 {
    font-size: $h3-size;
    color: $color-purple;
}

h4 {
    font-size: $h4-size;
    color: $color-pink;
}

h5 {
    font-size: $h5-size;
    color: $color-purple;
}

h6 {
    font-size: $h6-size;
    color: $color-pink;
}
