<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--[if lte IE 9]>
        <script>
        window.location.href = "/admin/unsupported.html";
        </script>
        <![endif]-->
        <title>Atlas Administration</title>
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,600,700|Josefin+Slab:400,700|Open+Sans:300italic,400italic,600italic,300,600,400' rel='stylesheet' type='text/css'>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Molengo" rel="stylesheet">
        <link rel="stylesheet" href="css/base.css"/>
    </head>

    <body ng-app="atlasAdmin">

      <div class="site-header">
        <div class="site-header-inner clearfix">
          <a class="site-logo" href="https://metabroadcast.com"><img src="img/mb-logo.png" alt="MetaBroadcast"></a>
          <ul class="site-nav">
            <li class="nav-atlas"><a href="https://atlas.metabroadcast.com">atlas</a></li>
            <li class="nav-voila"><a href="http://voila.metabroadcast.com">voila</a></li>
            <li><a href="https://metabroadcast.com/blog">blog</a></li>
            <li><a href="https://metabroadcast.com/jobs">jobs</a></li>
            <li><a href="https://metabroadcast.com/team">team</a></li>
            <li><a href="https://metabroadcast.com/mentions">mentions</a></li>
            <li><a href="https://metabroadcast.com/contact">contact</a></li>
          </ul>
        </div>
      </div>

        <!-- navigation -->
      <nav class="sub-header" id="header" role="navigation" ng-controller="UserMenuController">
        <div class="sub-header-inner header-inner">
          <div class="navbar-links" ng-cloak>
            <ul ng-show="status.loggedIn" class="sub-nav nav">
              <li><a href="/#widgets">Widgets</a></li>
              <li><a href="/#examples">Examples</a></li>
              <li class="has-dropdown-menu">
                <a href="/#reference">Reference</a>
                <ul class="dropdown-menu">
                  <li><a href="/#reference_overview">overview</a></li>
                  <li><a href="/#reference_dataModel">data model</a></li>
                  <li><a href="/#reference_sources">sources</a></li>
                  <li><a href="/#reference_feeds">feeds</a></li>
                </ul>
              </li>
              <li><a href="/#about">About</a></li>
              <li class="has-dropdown-menu">
                <a href="/api-docs">Docs</a>
                <ul class="dropdown-menu">
                  <li><a href="/#api-docs-content">content</a></li>
                  <li><a href="/#api-docs-topics">topics</a></li>
                  <li><a href="/#api-docs-schedules">schedules</a></li>
                  <li><a href="/#api-docs-channels">channels</a></li>
                  <li><a href="/#api-docs-channel_groups">channel_groups</a></li>
                </ul>
              </li>
              <li ng-show="status.loggedIn" class="has-dropdown-menu user-menu" id="apps-menu" ng-click="app.hideAppsMenu()" ng-mouseleave="app.showAppsMenu()" ng-cloak>
                <span>Apps</span>
                <ul class="apps-dropdown dropdown-menu dropdown-menu-large" ng-show="app.appsMenu">
                  <li ng-if="ProfileStatus.isProfileComplete()" ng-controller="CtrlApplications">
                    <span class="application-link" ng-repeat="application in app.applications | orderBy:app.predicate:app.reverse | limitTo:3">
                      <a href="#/applications/{{application.id}}">{{application.title}}</a>
                    </span>
                    <div ng-if="app.applications" class="menu-separator"></div>
                  </li>
                  <li><a ng-href="#/applications">All applications&hellip;</a></li>
                  <li><a ng-href="#/wishlist">Wishlist</a></li>
                </ul>
              </li>
              <li ng-show="status.loggedIn" ng-if="app.menu.users.length" class="has-dropdown-menu user-menu" id="content-menu" ng-click="app.hideContentMenu()" ng-mouseleave="app.showContentMenu()" ng-cloak>
                <span>Content</span>
                <ul class="content-dropdown dropdown-menu" ng-show="app.contentMenu">
                  <li ng-repeat="item in app.menu.users" ng-cloak>
                    <a ng-href="#{{item.path}}" active-path="active-menu-item"><span class="menu-button">{{item.label}}</span></a>
                  </li>
                </ul>
              </li>
              <li ng-show="status.loggedIn" ng-if="app.menu.admins.length" class="has-dropdown-menu user-menu" id="admin-menu" ng-click="app.hideAdminMenu()" ng-mouseleave="app.showAdminMenu()" ng-cloak>
                <span>Admin</span>
                <ul class="admin-menu admin-dropdown dropdown-menu" ng-show="app.adminMenu">
                  <li ng-repeat="item in app.menu.admins" ng-cloak>
                    <a ng-href="#{{item.path}}" active-path="active-menu-item"><span class="menu-button" ng-click="app.toggleAdminMenu()">{{item.label}}</span></a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="sub-nav-tools">
            <a class="navbar-api-explorer-btn" href="/api-docs#apiExplorer">
              <span class="icn_mag"></span> api explorer &amp; free key
            </a>
            <div class="navbar-tools" id="navbar-tools">
              <div class="navbar-user logged-in has-dropdown-menu" ng-show="status.loggedIn" ng-click="app.hideDropdown()" ng-mouseleave="app.showDropdown()" ng-cloak>
                <span class="user-avatar">
                  <img class="profile-picture" ng-src="{{app.user.profile_image}}" alt="profile picture"/>
                  <span class="user-name">{{app.user.full_name}}</span>
                </span>
                <ul class="user-dropdown-menu dropdown-menu" ng-show="app.dropdown">
                  <li><a href="#/profile">Your profile</a></li>
                  <li><a href="#/contact">Contact</a></li>
                  <li><a href="#/terms">Terms of use</a></li>
                  <li><a href="#/logout">Log out</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav><!-- end navigation -->

        <!-- Top level directives -->
        <div preloader></div>
        <div notifications></div>

        <!-- Application body -->
        <div class="application-container" ng-hide="show.cloak" ng-cloak ng-view></div>

        <script src="node_modules/jquery/dist/jquery.min.js"></script>
        <script src="node_modules/angular/angular.min.js"></script>
        <script src="node_modules/angular-resource/angular-resource.min.js"></script>
        <script src="node_modules/angular-route/angular-route.min.js"></script>
        <script src="node_modules/angular-ui-bootstrap/ui-bootstrap-tpls.min.js"/></script>
        <script src="node_modules/contact-us-form/dist/contact-us-form.js"/></script>
        <script src="node_modules/highlight.js/lib/highlight.js"/></script>
        <script src="node_modules/lodash/lodash.js"/></script>
        <script src="node_modules/moment/moment.js"/></script>
        <script src="node_modules/d3/d3.min.js"/></script>
        <script src="dist/scripts.js"></script>
        
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-51043316-1', 'metabroadcast.com');
            ga('send', 'pageview');
        </script>
    </body>
</html>
