/*
 * Populate the values in the template below and remove .template 
 * from the filename to configure the application
 */
angular.module('atlasAdminConfig', [])
    .value('atlasHost','YOUR ATLAS HOST');