<div class="busy-notification" ng-show="isBusy">
  <span>Processing...</span>
</div>
<div class="modal-body" ng-class="{'is-busy':isBusy}">
  <h1>Enter the PID for the content you would like to {{uiStrings[actionName]}}</h1>
  <div class="statusMessage" ng-class="resultMessage.class" ng-show="resultMessage">{{resultMessage.body}}</div>
  <section class="pid-check" ng-hide="clearUI">
    <div class="field-holder">
      <input type="text" ng-model="pidValue" required placeholder="PID">
      <button ng-click="findPid(pidValue)">Check PID</button>
    </div>
  </section>
  <section class="search-result" ng-show="showSearchRes">
    <div class="actionBtn" ng-class="actionName"><button ng-click="triggerAction(actionName, pidValue)">{{uiStrings[actionName]}}</button></div>
    <div class="atlasresult">
      <div class="result-img" ng-if="atlasResult.imageUrl"><img ng-src="{{atlasResult.imageUrl}}"></div>
      <div class="result-content">
        <header>
          <h2 class="meta-title" ng-if="atlasResult.brand">{{atlasResult.brand}}</h2>
          <span class="meta-time" ng-if="atlasResult.title">{{atlasResult.title}}</span>
        </header>
        <p ng-if="atlasResult.description">{{atlasResult.description}}</p>
      </div>
    </div>
  </section>
  <small class="help-text">Click outside of this window to close</small>
</div>
