<div class="app-surface feedsBreakdown">
  <header class="app-header">
    <div class="breakdown-header">
      <h1 class="page-title">{{view_title}}</h1>
      <div class="breadcrumb">
        <a class="crumb" href="#/">Atlas</a>
        <a class="crumb" href="#/feeds/">Feeds</a>
        <a class="crumb" href="#/feeds/youview">BBC to YouView</a>
        <span class="crumb">Transaction</span>
      </div>
    </div>
      
    <div action-modal="upload" class="bigred">Republish</div>
    
    <div class="feed-actions">
      <span class="feed-actions-label">Actions:</span>
      <button action-modal="upload" ng-disabled="disableActions">Republish</button>
      <button action-modal="revoke" ng-disabled="disableActions">Revoke</button>
      <button action-modal="unrevoke" ng-disabled="disableActions">Unrevoke</button>
      <button action-modal="delete" ng-disabled="disableActions" class="negative">Delete</button>
    </div>
  </header>
  
  <section class="panel-full breakdown-status">
    <div class="matrix">
      <header class="matrix-title">
        <h1>Status</h1>
      </header>
      <div class="matrix-body">
        <div class="matrix-row">
          <span class="matrix-label">Transaction status</span><span class="matrix-content">{{task.status}} <span class="see-details" ng-click="showDetails()">See details</span></span>
        </div>
        <div class="matrix-row">
          <span class="matrix-label">Publisher</span><span class="matrix-content">{{task.publisher}}</span>
        </div>
        <div class="matrix-row">
          <span class="matrix-label">Upload time</span><span class="matrix-content">{{task.upload_time}}</span>
        </div>
      </div>
    </div>
  </section>
  
  <section class="panel-full breakdown-content">
    <header class="panel-header">
      <h1>Content</h1>
    </header>
    <div class="panel-content">
      <div class="load-xml" data-load-content="{{task.content_uri}}"></div>
    </div>
  </section>
</div>
