<div class="modal-body">
    <header class="modal-header">
        <h3>Status detail</h3>
        <span class="status-detail-status">{{task.status}}</span>
    </header>
    <div class="modal-body">
        <h3 class="fragments-title">Fragment reports</h3>
        <div class="matrix invisible task-fragments" ng-repeat="fragment in task.remote_responses" >
            <header class="matrix-title">
                <span class="fragment-status success" ng-if="fragment.status==='SUCCESS'">{{fragment.status}}</span><span class="fragment-status fail" ng-if="fragment.status!=='SUCCESS'">{{fragment.status}}</span>
                <span class="fragment-created">{{fragment.created}}</span>
            </header>
        </div>
    </div>
</div>
