<div class="panel panel-default">
  <div class="panel-body">
    <button type="button" class="btn btn-primary" ng-click="createApplication()">Create application</button>
    <div class="pull-right" >
        <label for="queryFilter">Filter: </label>
        <input aria-role="search" ng-model="query" id="queryFilter">
    </div>
  </div>
</div>
<div class="row">
    <table class="table table-striped table-hover">
    <tr>
        <th ng-click="app.predicate='title'; app.reverse=!app.reverse;">Application</th>
        <th ng-click="app.predicate='credentials.apiKey'; app.reverse=!app.reverse;">API Key</th>
        <th ng-click="app.predicate='created'; app.reverse=!app.reverse;">Created</th>
    </tr>
    <tr ng-repeat="application in app.applications  | filter:appSearchFilter | orderBy:app.predicate:app.reverse  | startFrom:(app.currentPage-1)*app.pageSize  | limitTo:app.pageSize ">
        <td><a ng-href="#/applications/{{application.id}}">{{application.title}}</a></td>
        <td>{{application.credentials.apiKey}}</td>
        <td>{{application.created|date:'dd MMM yyyy H:mm'}}</td>
    </tr>
    </table>
</div>
<div class="container">
    <pagination total-items="app.applications.length" page="app.currentPage" max-size="app.pageSize" boundary-links="true"></pagination>
</div>