<div class="app-surface request-source">
    <header class="app-header">
        <h1 class="page-title">Before you can use the  source, you must complete the steps below</h1>
    </header>
    <div class="app-content">
        <section class="panel-full usage-details">
           <h2></h2>
        </section>
        <section class="panel-full plan">
            
        </section>
        <section class="panel-half terms">
            
        </section>
        <div class="panel-full">
            <button>I agree</button><button>Cancel</button>
        </div>
    </div>
</div>