<div ng-show="errorMessage" class="alert alert-danger">
    {{errorMessage}}
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="pull-right">
        <label for="queryFilter">Filter: </label>
        <input aria-role="search" ng-model="query" id="queryFilter">
    </div>
  </div>
</div>
<div>
    <table class="table table-striped table-hover">
    <tr>
        <th ng-click="app.predicate='application.title'; app.reverse=!app.reverse;">Application</th>
        <th ng-click="app.predicate='app_url'; app.reverse=!app.reverse;">URL</th>
        <th ng-click="app.predicate='source.name'; app.reverse=!app.reverse;">Source</th>
        <th ng-click="app.predicate='usage_type.title'; app.reverse=!app.reverse;">Usage type</th>
        <th ng-click="app.predicate='reason'; app.reverse=!app.reverse;">Reason</th>
        <th ng-click="app.predicate='approved'; app.reverse=!app.reverse;">Status</th>
    </tr>
    <tr ng-repeat="request in app.requests | filter:query | orderBy:app.predicate:app.reverse | startFrom:(app.currentPage-1)*app.pageSize | limitTo:app.pageSize">
        <td><a ng-href="#/applications/{{request.application.id}}">{{request.application.title}}</a></td>
        <td>{{request.app_url}}</td>
        <td><a ng-href="#/sources/{{request.source.id}}/readers">{{request.source.name}}</a></td>
        <td>{{request.usage_type.title}}</td>
        <td>{{request.usage_type.reason}}</td>
        <td ng-show="request.approved === false">
            <button ng-click="approveRequest(request);">
                 Approve?
            </button>
        </td>
        <td ng-show="request.approved === true">
            Approved
        </td>
    </tr>
    </table>
</div>
<div class="container">
    <pagination total-items="(app.requests|filter:query).length" page="app.currentPage" max-size="app.pageSize" boundary-links="true"></pagination>
</div>