<div id="sourceRequestModal">
    <div class="modal-header">
        <h3>Request source: {{app.sourceRequest.source.title}}</h3>
    </div>
    <div class="modal-body">
        <form name="sourceRequestForm">
            <div class="form-group" ng-show="app.license">
                <label for="toc">Terms and conditions</label>
                <blockquote name="toc" ng-bind-html="app.license">
                    
                </blockquote>
            </div>
            <div class="form-group">
                <label for="reason">Why would you like access to this publisher?</label>
                <textarea type="text" class="form-control" id="reason" name="reason" placeholder="Reason" ng-model="app.sourceRequest.reason" ng-minlength="3">
                </textarea>
            </div>
            <div class="form-group">
                <label for="applicationUrl">Application URL</label>
                <input focus-me type="url" class="form-control" id="applicationUrl" name="applicationUrl" placeholder="" ng-model="app.sourceRequest.applicationUrl"> 
                <span ng-show="sourceRequestForm.applicationUrl.$error.url" class="help-block">Please supply a location with information about your application</span>
            </div>
            <div class="form-group">
                <label for="usageType">Usage type:</label>
                <select id="usageType"
                        ng-model="app.sourceRequest.usageType" 
                        ng-options="u.value as u.label for u in app.sourceRequest.usageTypes"
                        valid-usage></select><br>
                <span ng-show="sourceRequestForm.$error.validUsage" class="help-block">Please select a usage type</span>
            </div>
        </form>
        <div class="alert alert-info" ng-show="app.sourceRequest.source.state=='enableable'">
           <p>This source will be available immediately after you submit this request.</p>
        </div>        
        <div class="alert alert-warning" ng-show="app.sourceRequest.source.state=='unavailable'">
           <p>This source will be available once your request has been approved by an administrator.</p>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()" ng-disabled="sourceRequestForm.$invalid">I agree</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div> 