<div ng-controller="sourceReadersPage">
    
    <table class="table table-striped table-hover">
    <tr>
        <th>Application</th>
        <th>Description</th>
        <th>Created</th>
        <th>Status</th>
        <th>Used</th>
    </tr>
    <tr ng-repeat="application in applications | filter:query">
        <td>{{application.title}}</td>
        <td></td>
        <td>{{application.created|date:'dd MMM yyyy H:mm'}}</td>
        <td>{{application.state}}</td>
        <td>{{application.enabled}}</td>
    </tr>
    </table>
</div>
