<div class="panel panel-default">
  <div class="panel-body">
    <span class="btn">Readers</span>
  <a class="btn" ng-href="#/sources/{{source.id}}/writers">Writers</a>
  </div>
</div>
<div>
    
    <table class="table table-striped table-hover">
    <tr>
        <th>Application</th>
        <th>Description</th>
        <th>Created</th>
        <th>Status</th>
        <th>Used</th>
    </tr>
    <tr ng-repeat="application in applications | filter:query">
        <td>{{application.title}}</td>
        <td></td>
        <td>{{application.created|date:'dd MMM yyyy H:mm'}}</td>
        <td ng-show="application.state == 'requested'">
            <button ng-click="approveClicked(application)">
                 Approve?
            </button>
        </td>
        <td ng-show="application.state != 'requested'">
            {{application.state|title}}
        </td>
        <td>{{application.enabled}}</td>
    </tr>
    </table>
</div>
