<div class="app-surface user-profile">
  <header class="app-header">
    <h1 class="page-title">{{view_title}}</h1>
    <span class="subheading" ng-show="app.newUser">Welcome to Atlas! To continue please check and complete the information below.</span>
    {{successMessage}}
    {{errorMessage}}
  </header>

  <div class="panel-half">
    <section class="profile-holder">
      <form name="userForm" role="form">
        <div class="form-row">
          <label for="email" class="form-label required">Email</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="me@example.com" ng-model="app.user.attributes.mail" ng-change="app.changed=true" required>
          <span ng-show="userForm.email.$error.email || userForm.email.$error.required" class="form-field-helper">Please enter a valid email address</span>
        </div>
        <div class="form-row">
          <label for="website" class="form-label">Website URL</label>
          <input type="url" class="form-control" id="website" name="website" placeholder="http://example.com" ng-model="app.user.website" ng-change="app.changed=true">
          <span ng-show="userForm.website.$error.url" class="form-field-helper">Please enter a valid website address</span>
        </div>
        <button type="button" class="button positive" ng-click="save()">Save</button>
      </form>
    </section>
  </div>
  <div class="panel-half" ng-bind-html="app.formEle">
  </div>
</div>
