<div class="app-surface manage-users">
    <header class="app-header">
        <h1 class="page-title">{{view_title}}</h1>
    </header>
    <section class="panel-full users-list">
        <div class="query-filter">
            <input type="text" aria-role="search" ng-model="query" id="queryFilter" placeholder="Filter users">
        </div>
        <div class="panel-full">
            <table class="table">
                <thead>
                    <tr>
                        <th ng-click="app.predicate='full_name'; app.reverse=!app.reverse;">Name</th>
                        <th ng-click="app.predicate='company'; app.reverse=!app.reverse;">Company</th>
                        <th ng-click="app.predicate='email'; app.reverse=!app.reverse;">Email</th>
                        <th ng-click="app.predicate='website'; app.reverse=!app.reverse;">Website</th>
                        <th ng-click="app.predicate='license_accepted'; app.reverse=!app.reverse;">Creation Date</th>
                        <th ng-click="app.predicate='applications.length'; app.reverse=!app.reverse;">Apps</th>
                        <th ng-click="app.predicate='userRef.userNamespace'; app.reverse=!app.reverse;">Login</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in app.users | filter:query | orderBy:app.predicate:app.reverse | startFrom:(app.currentPage-1)*app.pageSize | limitTo:app.pageSize">
                        <td>
                            <a ng-href="#/manage/users/{{user.id}}">
                               <span ng-show="user.full_name">{{user.full_name}}</span>
                               <span ng-show="user.full_name == null">No details for {{user.id}}</span>
                            </a>
                        </td>
                        <td>{{user.company}}</td>
                        <td><a ng-href="mailto:{{user.email}}">{{user.email}}</a></td>
                        <td><a ng-href="{{user.website}}" target="_blank">{{user.website}}</a></td>
                        <td>{{user.license_accepted | date: 'd MMM yy' }}</td>
                        <td>{{user.applications.length}}</td>
                        <td>{{user.userRef.userNamespace}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-full">
            <pagination total-items="(app.users|filter:query).length" page="app.currentPage" max-size="app.pageSize" boundary-links="true"></pagination>
        </div>
    </section>
</div>