/*
 * Populate the values in the template below and remove .template 
 * from the filename to configure the application
 * Atlas Host e.g. "http://stage.atlas.metabroadcast.com"
 * Atlas version e.g. "4"
 * Atlas API Host e.g. "http://atlas-admin-backend.stage.metabroadcast.com/api"
 */
angular.module('atlasAdminConfig', [])
    .value('atlasHost','%%ATLASHOST%%')
    .value('atlasVersion', '%%ATLASVERSION%%')
    .value('atlasApiHost', '%%ATLASAPIURL%%');
