<div class="app-surface manage-usage">
    <header class="app-header">
        <h1 class="page-title">API Usage Stats bro</h1>
    </header>
    <div class="app-content">
        <div class="api-key-field">
            <input class="large" type="text" value="" placeholder="enter the application's api key" ng-model="apiKey">
        </div>
        <div class="chart-card">
            <div class="notifications" ng-show="errorMessage"></div>
            <div class="rpm-chart-container">
                
            </div>  
            <div class="rpm-chart-options">
                <span class="chart-option hour" ng-class="{'selected':tabState=='hour'}" ng-click="switchTime('hour')">- 1 hour</span>
                <span class="chart-option day" ng-class="{'selected':tabState=='day'}" ng-click="switchTime('day')">- 24 hours</span>
                <span class="chart-option week" ng-class="{'selected':tabState=='week'}" ng-click="switchTime('week')">- 7 days</span>
                <span class="chart-option month" ng-class="{'selected':tabState=='month'}" ng-click="switchTime('month')">- 30 days</span>
            </div>
        </div>
    </div>
</div>
