<div class="app-surface manage-usage">
    <header class="app-header">
        <h1 class="page-title">API usage over the last seven days</h1>
    </header>
    <div class="app-content">
        <table class="tbl" id="usage-table">
            <thead>
                <tr>
                    <th>API key</th>
                    <th>Number of requests</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="request in requests">
                    <td>{{request.key}}</td>
                    <td>{{request.doc_count}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
