<div class="auth-container">
  <div class="auth-option mbst-auth">
    <a href="https://users.metabroadcast.com#login?ref={{referer}}">
      <i class="mb-icon"></i>
      Login with MetaBroadcast
    </a>
  </div>
	<div ng-repeat="provider in providers | orderBy:'name'" class="auth-option {{provider.icon}}">
		<a ng-click="startAuth(provider)">
			<i class="fa fa-{{provider.icon}}"></i> {{provider.prompt}}
		</a>
	</div>
	<small class="smallprint">We won't post to your account without asking you first</small>
</div>
