<div id="addApplication">
    <header class="app-modal-header">
        <h1>Create new application</h1>
    </header>
    <div class="app-modal-body">
         <form name="sourceRequestForm" ng-submit="sourceRequestForm.$valid && ok()">
            <div class="form-row">
                <label for="title">Application title</label>
                <input type="text" name="appTitle" class="form-control" ng-model="app.title" ng-minlength="3" ng-required="true" focus-me>
            </div>
            <div class="form-row">
                <label for="appUrl">Application URL</label>
                <input type="url" name="appUrl" class="form-control" ng-model="app.url" required="true" placeholder="http://www.myapp.com">
            </div>
            <div class="form-row">
                <label for="appDescription">Application description</label>
                <textarea name="appDescription" class="form-control" ng-model="app.description" ng-minlength="3"></textarea>
            </div>
            <div class="form-row">
                <h2 class="form-heading">Which data sources will your application use?</h2>
                <span class="form-label">
                    <input type="radio" name="preset" id="presetUk" ng-model="app.preset" ng-change="termsToggle()" value="uk" ng-required="true">
                    <label class="inline-label" for="presetUk">Simple UK listings data</label>
                </span>
                <span class="form-row">
                    <input type="radio" name="preset" id="presetAll" ng-model="app.preset" ng-change="termsToggle()" value="all" ng-required="true">
                    <label class="inline-label" for="presetAll">Custom</label>
                </span>
                <div class="terms-box" ng-show="app.showTerms">
                    <input type="checkbox" name="acceptUKTerms" id="acceptTerms" ng-model="app.acceptTerms" ng-required="app.preset=='uk'">Do you agree to the <span class="link" ng-click="console.log(showTerms('PA'))" target="_blank">PA</span> and <span class="link" ng-click="showTerms('BBC')">UK Channel Lineup</span> terms and conditions? Please read carefully. - These may contain information about payments you will have to make</p> 
                </div>
                <div class="terms-box-extended" ng-show="license.show && app.showTerms" ng-bind-html="license.html"></div>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="submit()" ng-disabled="app.wait">Create</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
         </form>
    </div>
</div> 