<div class="app-surface request-source">
    <header class="app-header">
        <h1 class="page-title">Before you can use the <span class="source-highlight">{{source.title}}</span> source, you must complete the steps below</h1>
    </header>
    <div class="app-content">
        <section class="panel-full application-info">
            <header class="panel-header">
                <h1>1. Review your information</h1>
                <em class="form-terms">This information will be sent to <span class="source-highlight">{{source.title}}</span> with your request</em>
            </header>
            <div class="app-data">
                <h2>Application information</h2>
                <span class="form-field">
                    <label>Application name</label>
                    <span class="editable-field">{{app.name}}</span>
                </span>
                <span class="form-field">
                    <label>Application URL</label>
                    <span class="editable-field"></span>
                </span>
                <span class="form-field last">
                    <label>Application Description</label>
                    <span class="editable-field">{{app.description}}</span>
                </span>
            </div>
            <div class="user-data">
                <h2>Your information</h2>
                <span class="form-field">
                    <label>Name</label>
                    <span class="editable-field">{{user.full_name}}</span>
                </span>
                <span class="form-field">
                    <label>Email</label>
                    <span class="editable-field">{{user.email}}</span>
                </span>
                <span class="form-field">
                    <label>Company</label>
                    <span class="editable-field">{{user.company}}</span>
                </span>
                <span class="form-field last">
                    <label>Website</label>
                    <span class="editable-field"><a href="{{user.website}}" target="_blank">{{user.website}}</a></span>
                </span>
            </div>
        </span>
        </section>
        <section class="panel-full payment-plans">
            <header class="panel-header">
                <h1>2. Choose a payment plan</h1>
            </header>
            <div class="payment-plan-contain">
                <div class="payment-plan one">
                    <input ng-model="plan" type="radio" class="payment-plan-radio" name="payment-opt" value="1" id="payment-opt-one" ng-checked="true">
                    <label for="payment-opt-one" class="plan-box">
                        <span class="plan-features">
                            <strong>1 to 10</strong> unique users 
                        </span>
                        <span class="plan-price">
                            <strong class="the-price">Free</strong>
                        </span>
                    </label>
                </div>
                <div class="payment-plan two">
                    <input ng-model="plan" type="radio" class="payment-plan-radio" name="payment-opt" value="2" id="payment-opt-two">
                    <label for="payment-opt-two" class="plan-box">
                        <span class="plan-features">
                            <strong>11 to 1000</strong> unique users 
                        </span>
                        <span class="plan-price">
                            <strong class="the-price">&pound;95</strong>
                            <span class="price-terms">per month</span>
                        </span>
                    </label>
                </div>
                <div class="payment-plan three">
                    <input ng-model="plan" type="radio" class="payment-plan-radio" name="payment-opt" value="3" id="payment-opt-three">
                    <label for="payment-opt-three" class="plan-box">
                        <span class="plan-features">
                            <strong>1,001 to 10,000</strong> unique users 
                        </span>
                        <span class="plan-price">
                            <strong class="the-price">&pound;245</strong>
                            <span class="price-terms">per month</span>
                        </span>
                    </label>
                </div>
                <div class="payment-plan four">
                    <input ng-model="plan" type="radio" class="payment-plan-radio" name="payment-opt" value="4" id="payment-opt-four">
                    <label for="payment-opt-four" class="plan-box">
                        <span class="plan-features">
                            <strong>10,001 to 50,000</strong> unique users 
                        </span>
                        <span class="plan-price">
                            <strong class="the-price">&pound;995</strong>
                            <span class="price-terms">per month</span>
                        </span>
                    </label>
                </div>
            </div>
            <div class="payment-terms">All prices excluding VAT</div>
        </section>
        <section class="panel-full terms">
            <header class="panel-header">
                <h1>3. Read the terms &amp; conditions</h1>
                <a ng-href="#/terms" class="atlas-terms-link">Read the Atlas terms &amp; conditions</a>
            </header>
            <div class="terms-container">
                <p><b>1.</b> In addition to platform fees, the following data fees are due per API key for which Press Association data is enabled: Number of unique users per month (exc. VAT)</p>
                <p><b>2.</b> Please include the following credit in an "About" page or similar, within your app and easily accessible to all users:</p>
                <p class="terms-important">Entertainment data copyright: Press Association" And link to, or provide separately the URL: http://www.pressassociation.com</p>
            </div>
            <div class="reason-for-access">
                <span class="form-field last">
                    <label>Why do you want access to the {{source.name}} source?</label>
                    <textarea>Include any extra information you think the provider might need to know</textarea>
                </span>
            </div>
        </section>
        <div class="panel-full submit-buttons">
            <button class="group primary medium" ng-click="send()">I agree</button>
            <button class="group secondary medium last" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</div>