<div class="search-input">
    <input type="text" placeholder="Search..." ng-model="atlasSearch.searchquery" ng-change="atlasSearch.lookupAtlasItem()">
</div>
<div ng-show="atlasSearch.showMessage" class="message-output">{{atlasSearch.message}}</div>
<div ng-show="atlasSearch.showAutocomplete" class="search-completions">
    <span ng-repeat="result in atlasSearch.searchResults" class="search-item" ng-click="atlasSearch.selectAtlasItem(result.title, result.id)">
        <strong>{{result.title}}</strong>
        <i>{{result.subtitle}}</i>
    </span>
</div>