<div class="app-surface scrubbables">
    <header class="app-header">
        <h1 class="page-title">{{view_title}}</h1>
    </header>

    <div class="app-content">
        <section class="panel-full scrubbables-search">
            <div class="search-wrapper">
                <div atlas-search class="atlas-search">
            </div>
            <div class="result-wrapper">

            </div>
        </section>

        <section class="panel-full scrubbables-link-editor">
            <h2>Related links</h2>
            <div class="show-level-links">
                <h3>Show level links</h3>
            </div>
            <div class="timeline-links">
                <h3>Timeline links</h3>
            </div>
        </section>

        <section class="panel-full">
            <button class="">Cancel</button>
            <button class="positive">Create</button>
        </section>
    </div>
</div>

