<div class="app-modal-surface wishlist">
    <h1>{{modal.title}}</h1>
    <div class="app-modal-content">
        <span class="form-row">
            <label for="">Feature name</label>
            <input type="text" >
        </span>
        <span class="form-row">
            <label for="">Why do you need this feature?</label>
            <textarea name=""></textarea>
        </span>
        <span class="form-row"><button class="primary">Submit</button><button class="secondary">Cancel</button></span>
    </div>
</div>