<div class="app-surface wishlist">
    <header class="app-header">
        <h1 class="page-title">Request new sources and features</h1>
        <p>We are doing our best to add relevant sources to Atlas, and we are constantly working on making the Atlas admin experience better for developers. You can help us by telling us what you would like below.</p>
    </header>

    <div class="app-content wish-selector">
        <div class="app-tabber padded">
            <div ng-click="currentTab = 'sources'" class="app-tab sources" ng-class="{active: currentTab=='sources'}">Sources</div>
            <div ng-click="currentTab = 'features'" class="app-tab features last" ng-class="{active: currentTab=='features'}">Features</div>
        </div>

        <section ng-hide="currentTab == 'features'" class="panel-full source-wishlist" ng-controller="CtrlWishlistSources">
            <div class="requested-sources">
                <header class="panel-header">
                    <h2 class="panel-title">Sources you've asked for</h2>
                </header>
                <ul class="tabular" ng-if="asked.length">
                    <li class="tabular-row" ng-repeat="item in asked">
                        <div class="source-name">{{item.wish.title}}</div>
                        <div class="source-options" ng-show="item.wish.status=='not available'">We'll tell you when it becomes available</div>
                        <div class="source-options" ng-show="item.wish.status=='in progress'">We're working on it</div>
                        <div class="source-options" ng-show="item.wish.status=='available'">Available!</div>
                    </li>
                </ul>
                <div ng-if="!asked.length" class="blank-slate">
                    <h2>You haven't asked for any sources yet.</h2>
                    <p>To get updates when sources become available, click 'I want this' for any sources you want access to.</p>
                </div>
            </div>
            <div class="unrequested-sources">
                <header class="panel-header">
                    <h2 class="panel-title">Which sources do you want access to?</h2>
                </header>
                <ul class="tabular">
                    <li class="tabular-row" ng-repeat="source in sources">
                        <div class="source-name">{{source.title}}</div>
                        <div class="source-options">
                            <span ng-if="!user_has(source._id)" input-morph="{{source._id}}" data-title="{{source.title}}" class="button-to-input"></span>
                            <span ng-if="user_has(source._id)" class="button medium stroke disabled">Requested</span>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <section ng-hide="currentTab == 'sources'" class="panel-full feature-wishlist" ng-controller="CtrlWishlistFeatures">
            <div class="unrequested-sources">
                <header class="panel-header">
                    <h2 class="panel-title">Features in the pipeline</h2>
                </header>
                <table class="table">
                    <tr ng-repeat="feature in features" feature-row></tr>
                </table>
            </div>
            <!-- <div class="feature-request">
                <span class="button large" ng-click="customFeatureWish()">Tell us about a feature you'd like</span>
            </div> -->
        </section>
    </div>    
</div>